/Debug/*
/Listings/*
/Objects/*
/SaveChanges/*
/SaveOriginal/*
/targetConfigs/*
*.Dan
*.axf
*.htm
*.Inp
*.map
*.tra
*.dep
*.__i
*.crf
*.d
*.o
*.lst
*.lnp
*.bak
*.bin
*.fed
*._2i
*.l1p
*.l2p
*.iex
.#*
*.uvgui.*
*.uvopt
*.TMP
*.tmp